os: 
  - linux

language: php

php: 
  - '7.2'

before_script:
  - composer self-update
  - composer install --no-interaction
  - cp .env.travis .env
  - cp phpunit.xml.travis phpunit.xml
  - mysql -e 'create database skill_matrix_test'
  - php artisan key:generate
  - pear install pear/PHP_CodeSniffer
  - phpenv rehash
  - nvm install 10.1.0
  - npm install npm@latest -g
  - npm install -g jshint
  - npm install

script:
  - vendor/bin/phpunit --coverage-text
  - phpcs --ignore=app/Http/Controllers/Auth,app/Http/Controllers/Controller.php app/Http/Controllers
  - npm run production
  - jshint resources/assets/js/modules/*