
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "node_modules/font-awesome/scss/font-awesome.scss";

.container-fluid {
    padding-bottom: 80px;
    padding-top: 30px;
}

.pagination {
    display: inline-flex;
}

form.css-delete-button {
  display: inline;
}

.text-rotate-minus-90 {
    /* FF3.5+ */
    -moz-transform: rotate(-90.0deg);
    /* Opera 10.5 */
    -o-transform: rotate(-90.0deg);
    /* Saf3.1+, Chrome */
    -webkit-transform: rotate(-90.0deg);
    /* IE6,IE7 */
    filter: "progid: DXImageTransform.Microsoft.BasicImage(rotation=0.083)";
    /* IE8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)";
    /* Standard */
    transform: rotate(-90.0deg);

    transform-origin: left top 0;
}

.table.rotated {
    th, td {
        padding: 0;
    }

    .rotation-0 {
        white-space: pre-line;
    }

    .rotation-90 {
        height: 120px;
        width: 40px;
        white-space: nowrap;
        vertical-align: middle;
    }

    .rotation-90 > div {
        width: 60px;
        transform: rotate(-90.0deg);
    }

    .row-header {
        width: auto;
        padding: 10px;
        white-space: nowrap;
        vertical-align: middle;
    }


    td.value {
        height: 40px;
        padding: 3px;
    }
}
