
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "node_modules/font-awesome/scss/font-awesome.scss";

.container-fluid {
    padding-bottom: 15px;
    padding-top: 15px;
}

.pagination {
    display: inline-flex;
}

form.css-delete-button {
  display: inline;
}

.text-rotate-minus-90 {
    /* FF3.5+ */
    -moz-transform: rotate(-90.0deg);
    /* Opera 10.5 */
    -o-transform: rotate(-90.0deg);
    /* Saf3.1+, Chrome */
    -webkit-transform: rotate(-90.0deg);
    /* IE6,IE7 */
    filter: "progid: DXImageTransform.Microsoft.BasicImage(rotation=0.083)";
    /* IE8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)";
    /* Standard */
    transform: rotate(-90.0deg);

    transform-origin: left top 0;
}

.table.rotated {
    .row-header {
        width: auto;
    }

    td {
        width: 40px;
        vertical-align: middle;
        text-align: center;
    }

    td.value {
        height: 40px;
        width: 40px;
        min-width: 40px;
        max-width: 40px;
    }

    .rotation-90 {
        height: 80px;
        width: 40px;
        min-width: 40px;
        max-width: 40px;
        position: relative;
        vertical-align: bottom;
        padding: 0;
        font-size: 12px;
        line-height: 0.8;
    }

    .rotation-90 > div {
        position: relative;
        top: 0px;
        left: 0px;
        min-height: 40px;
        line-height: 40px;
        /*left: 40px; *//* 80 * tan(45) / 2 = 40 where 80 is the height on the cell and 45 is the transform angle*/
        height: 100%;
        /*
        -ms-transform:skew(-90deg,0deg);
        -moz-transform:skew(-90deg,0deg);
        -webkit-transform:skew(-90deg,0deg);
        -o-transform:skew(-90deg,0deg);
        transform:skew(-90deg,0deg);
        */
        transform: rotate(-90.0deg);
        overflow: hidden;
    }

    .rotation-90 span {
        -ms-transform:skew(45deg,0deg) rotate(315deg);
        -moz-transform:skew(45deg,0deg) rotate(315deg);
        -webkit-transform:skew(45deg,0deg) rotate(315deg);
        -o-transform:skew(45deg,0deg) rotate(315deg);
        transform:skew(45deg,0deg) rotate(315deg);
        position: absolute;
        bottom: 30px; /* 40 cos(45) = 28 with an additional 2px margin*/
        left: -25px; /*Because it looked good, but there is probably a mathematical link here as well*/
        display: inline-block;
        // width: 100%;
        width: 85px; /* 80 / cos(45) - 40 cos (45) = 85 where 80 is the height of the cell, 40 the width of the cell and 45 the transform angle*/
        text-align: left;
        // white-space: nowrap; /*whether to display in one line or not*/
    }
}
