
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "node_modules/font-awesome/scss/font-awesome.scss";

.container-fluid {
    padding-bottom: 15px;
    padding-top: 15px;
}

.pagination {
    display: inline-flex;
}

form.css-delete-button {
  display: inline;
}

.text-rotate-minus-90 {
    /* FF3.5+ */
    -moz-transform: rotate(-90.0deg);
    /* Opera 10.5 */
    -o-transform: rotate(-90.0deg);
    /* Saf3.1+, Chrome */
    -webkit-transform: rotate(-90.0deg);
    /* IE6,IE7 */
    filter: "progid: DXImageTransform.Microsoft.BasicImage(rotation=0.083)";
    /* IE8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)";
    /* Standard */
    transform: rotate(-90.0deg);

    transform-origin: left top 0;
}

.table.rotated {
    .row-header {
        width: auto;
    }

    td {
        width: 40px;
        vertical-align: middle;
        text-align: center;
    }

    td.value {

    }

    .rotation-90 {
        height: 140px;
        white-space: nowrap;
        vertical-align: top;
        padding: 5px 0;
    }

    .rotation-90 > div {
        transform:
            /* Magic Numbers */
            translate(25px, 51px)
                /* 45 is really 360 - 45 */
            rotate(270deg);
        width: 30px;

        position: relative;
        bottom: 0px;
        min-height: 40px;
        line-height: 40px;
    }

    .rotation-90 > div > span {
        padding: 5px 10px;
    }
}
